* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-100: lightgrey;
  --primary-500: #a4a7a7;

  /* rest of the colors */
  --black: #222;
  --white: #fff;

  --borderRadius: 0.3rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  padding-top: 40px;
}
.dark {
  background-color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* alerts */
.alert {
  top: 90%;
  position: absolute;
  padding: 1rem 1.3rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: 0.25rem;
  text-align: center;
  letter-spacing: 1px;
  z-index: 3;
}

.alert-danger {
  color: #842029;
  background: #f8d7da;
}
.alert-success {
  color: #0f5132;
  background: #d1e7dd;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 4rem;
  height: 4rem;
  border: 5px solid grey;
  border-radius: 50%;
  border-top-color: lightgrey;
  animation: spinner 2s linear infinite;
}
.loading-center {
  margin: 0 auto;
}
